@model LoginViewModel
@{
    Layout = null;
}

<h2>Login Page</h2>

<form asp-action="Login" asp-controller="Account" method="post">
    <div>
        Username: <input type="text" asp-for="Username" /> <br />
        Password: <input type="password" asp-for="Password" /> <br />
        <input type="button" asp-for="RememberMe" > Remember Me <br />
        <input type="submit" value="Login" />
    </div>
</form>
